{deps, [
	{cowboy, ".*", {git, "https://github.com/extend/cowboy.git", {branch, "master"}}},
	{sync, ".*", {git, "https://github.com/rustyio/sync.git", {branch, "master"}}},
	{mimetypes, ".*", {git, "https://github.com/spawngrid/mimetypes.git", {branch, "master"}}},
	{meck, ".*", {git, "https://github.com/eproxus/meck.git", {branch, "master"}}}
]}.

{dialyzer, [{warnings, [error_handling, unmatched_returns, unknown, no_improper_lists]}]}.